html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, p {
  font-family: var(--font-noto), sans-serif;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.hero h1{
  font-family: var(--font-noto);
  font-size: 2.75rem;
}
.hero h2{
  font-family: var(--font-noto);
  font-size: 1.2rem;
}
.hero p {
  font-family: var(--font-noto);
}