html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h1, h2, p, a {
  font-family: var(--font-roboto), sans-serif;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

.hero h1{
  font-family: var(--font-roboto);
  font-size: 3rem;
}
.hero h2{
  font-family: var(--font-roboto);
  font-size: 2rem;
}
.hero p {
  font-family: var(--font-roboto);
  font-size: 1.3rem;
}



.hero-img {
    height: 40rem ;
    max-height: '50vh';
  } /* Adjust the height as needed */
  @media (max-width: 768px) {
    .hero-img {
      height: 40vh; 
      max-height: 50vh;
       /* This limits the height to 50% of the viewport height */
      
    }
  }  
  .logo-banner-section .marquee {
    display: flex;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
  }
  
  .logo-banner-section .marquee-inner {
    display: flex;
    animation: marquee 15s linear infinite; /* Adjust the duration for speed */
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }